<table class="table table-striped table-dark">
<%= form_with model:@product, local:true do |f| %>
<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
    <tbody>
    <tr>     
      <td><%= f.text_field :name %></td>
      <td><%= f.number_field :price %></td>
      <td><%= f.text_field :description %></td>
      <td><%= f.submit 'Edit'%></td>
    </tr>
     </tbody>
<% end %>
</table>

<%= link_to 'Back', product_path(@product) %>